<% form_for(@bank_account, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :bank_code %><br />
    <%= f.text_field :bank_code %>
  </p>
  <p>
    <%= f.label :pin %><br />
    <%= f.text_field :pin %>
  </p>
  <p>
    <%= f.label :passport_file %><br />
    <%= f.file_field :passport_file %>
  </p>
  <p>
    <%= f.label :passphrase %><br />
    <%= f.text_field :passphrase %>
  </p>
  <p>
    <%= f.label :passport_type %><br />
    <%= f.select :passport_type, BankAccount::PASSPORT_TYPES %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>